nav{
    height:10vh;
    border:1px solid black;
    width:100vw;
    box-sizing:border-box;
    background:rgb(40, 152, 243);
    box-shadow:6px 6px 12px black;
    
}

ul{
    width:100%;
    list-style-type: none;
    display:grid;
    grid-template-columns: 7vw 7vw;
    grid-template-rows: 100%;
}

li{
    display:inline-block;
    box-shadow:4px 4px 8px rgb(230, 224, 224);
    height:10vh;
    box-sizing: border-box;
    text-align:center;
    padding:1rem;
    background:#000000;
    color:white;
    transition:box-shadow 500ms;
    
}

li:hover{
    box-shadow:5px 5px 12px rgb(230, 224, 224);
}

